<h4>Описание работы</h4>
<hr>
<p>
    В данном web-приложении реализована возможность
    <a href="{% url 'users:create' %}">регистрации</a> пользователей
    и создания <a href="{% url 'tasks:index' %}">задач</a>.
    <br>
    Задачам могут быть присвоены
    <a href="{% url 'statuses:index' %}">статусы</a>
    и <a href="{% url 'labels:index' %}">метки</a>.
</p>

<ul>
    <li>Создавать задачи, статусы и метки могут только зарегистрированные пользователи.</li>
    <li>Возможность редактировать и обновлять информацию о себе доступна только самому пользователю.</li>
    <li>Статус у задачи может быть только один, а количество меток не ограничено.</li>
    <li>Удалить задачу может только ее создатель.</li>
    <li>Нельзя удалить пользователя, статус или метку, если они связаны с задачей.</li>
</ul>