{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ title }}{% endblock %} | {% translate 'Task manager' %}</title>
        {% bootstrap_css %}        
    </head>

    <body>
        {% include "layouts/navigation.html" %}
        
        <div class="container mt-4 mb-5">
            {% bootstrap_messages %}

            <h1 class="my-4">
                {% block header %}{{ title }}{% endblock %}
            </h1>

            {% block content %}{% endblock %}
        </div>
        {% bootstrap_javascript %}
    </body>

</html>