{% load i18n %}

<!-- TODO - прописать урлы через url и добавить перевод. Сделать логику активных ссылок -->

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link  active" href="/users/">{% translate 'Users' %}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/statuses/">Статусы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/labels/">Метки</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/tasks/">Задачи</a>
    </li>
</ul>

<div class="d-flex">
    <span class="navbar-text me-md-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill"
            viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
        </svg>
        {{ user.username }}
    </span>

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input class="btn btn-outline-dark" type="submit" value="Выход">
    </form>
</div>
