{% load i18n %}

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    {% with request.resolver_match.namespace as namespace %}
        <li class="nav-item">
            <a 
                class="nav-link {% if namespace == 'users' %}active{% endif %}" 
                href="{% url 'users:index' %}"
            >
                {% translate 'Users' %}
            </a>
        </li>
    {% endwith %}
</ul>

<div class="d-flex">
    <a href="{% url 'login' %}" class="btn btn-outline-dark me-md-2">
        {% translate 'Sign in' %}
    </a>
    <a href="{% url 'users:create' %}" class="btn btn-outline-primary">{% translate 'Sign up' %}</a>
</div>
