{% extends "layouts/application.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}
    {% translate 'Sign in' %}
{% endblock %}

{% block header %}
    {% translate 'Sign in' %}
{% endblock %}

{% block content %}
    <div class="col-lg-6">
        <form action="{% url 'login' %}" method="post" class="form">
            {% csrf_token %}

            {% bootstrap_messages %}

            {% bootstrap_form form %}

            {% translate 'Login' as login_button_name %}
            {% bootstrap_button button_type="submit" content=login_button_name %}
        </form>
    </div>
{% endblock %}
