{% extends "layouts/application.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<a class="btn btn-primary mb-3" href="{% url 'tasks:create' %}" role="button">
    {% translate "Create a task" %}
</a>

<div class="card mb-3">
    <div class="card-body bg-light">
        <strong>{% translate "Select filter options" %}</strong>
        <hr>
        <form method="get"  class="form">
            {% bootstrap_form filter.form layout='horizontal' %}
            <hr>
            <input 
                class="btn btn-primary" 
                type="submit" 
                value="{% translate 'Show' %}"
            >
            <a class="btn btn-secondary" href="{% url 'tasks:index' %}">
                {% translate "Reset" %}
            </a>
        </form>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>{% translate "id"|upper %}</th>
            <th>{% translate "name"|capfirst %}</th>
            <th>{% translate "status"|capfirst %}</th>
            <th>{% translate "author"|capfirst %}</th>
            <th>{% translate "executor"|capfirst %}</th>
            <th>{% translate "created date"|capfirst %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>
                    <a href="{% url 'tasks:detail' task.id %}">
                        {{ task.name }}
                    </a>
                </td>
                <td>{{ task.status }}</td>
                <td>{{ task.author.get_full_name }}</td>
                <td>{{ task.executor.get_full_name }}</td>
                <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
                <td>                    
                    <a href="{% url 'tasks:update' task.id %}">
                        {% translate "Update" %}
                    </a>
                    <br>
                    <a 
                        href="{% url 'tasks:delete' task.id %}" 
                        class="{% if task.author.id != request.user.id %}link-secondary{% endif %}"
                    >
                        {% translate "Delete" %}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
